body{
  font-family: "Courier New", Courier, monospace;
  background-image: url("/static/images/pupu.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  max-height: 7.3%;
}

li {
  float: left;
}

li {
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #DC143C;
}

li:last-child{
  display: block;
  color: white;
  text-align: center;
  padding: 12px 15px;
  text-decoration: none;
  text-shadow:5px 5px 0.5px #DC143C;
  /*font-weight: 500;*/
  /*font-size: 30px;*/
  font-family:URW Chancery L, cursive;
}

ul{
  position: fixed;
  top: 0px;
  width: 100%;
}

h1{
  text-decoration: underline;
  margin-top: 8%;
  text-align: left;
  margin-left: 2%;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  font-size: 55px;
}

h3{
  text-align: left;
  margin-left: 5%;
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  font-size: 30px;
}

h2{
  border-style: solid;
  border-width: 2px;
  text-align: left;
  margin-left: 5%;
  margin-right: 20%;
  background-color: rgba(170, 170, 170, 0.5);
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  font-size: 20px;
}