body{
 font-family: "Courier New", Courier, monospace;
 background-image: url("/static/images/f.jpg");
 background-repeat: no-repeat;
 background-position: center;
 background-size: 100%;
 background-attachment: fixed;
}


ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0px;
  width: 100%;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #DC143C;
}


li:last-child{
  display: block;
  color: white;
  text-align: center;
  padding: 12px 15px;
  text-decoration: none;
  text-shadow:5px 5px 0.5px #DC143C;
  font-family:URW Chancery L, cursive;
}


.Login{
  position: relative;
  left: 25%;
  width:51%;
  padding: 0;
  margin: 0;
  border-style: solid;
  border-width: 3px;
  border-radius: 50px;
  background-color: rgba(130, 130, 130, 0.5);
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-weight: 100;
}

