body{
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  background-image: url("/static/images/ks.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

p{
  font-size: 11px;
}

.love{
  text-align: center;
}

.nav_bar {
  font-family: "Courier New", Courier, monospace;
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0px;
  width: 100%;
  max-height: 7.3%;
}

h2{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 7%;
}

li {
  float: left;
  border-right: 1px solid #bbb;

}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #DC143C;
}

.nav_bar li:last-child{
  display: block;
  color: white;
  text-align: center;
  padding: 12px 15px;
  text-decoration: none;
  text-shadow:5px 5px 0.5px #DC143C;
  font-family:URW Chancery L, cursive;
}

a{
  color: white;
  /*font-weight: 400;*/
}

.toptop li{
  font-weight: 1000;
}

.show {display: block;}

h1{
  /*margin-left: 3%;*/
  margin-top: 6%;
  margin-left: 4%;
  text-decoration: underline;
  color: white;
}

h4{
  font-size: 22px;
  color: white;
}

.toptop{
  margin-left: 15%;
  margin-right: 15%;
  font-size:20px;
  color: white;
  border-style: solid;
  /*border-width: 50%;*/
  background-color: rgba(130, 130, 130, 0.5);
  /*border-color: white;*/
}

.toptop a:hover{
  text-decoration: underline;
  font-weight: 1000;
  color: #DC143C;
}

.abor{
  margin-left: 12%;
  text-decoration: none;
  color: white;
}

.rel{
  margin-left: 12%;
  text-decoration: none;
  color: white;
}


.rac{
  margin-left: 12%;
  text-decoration: none;
  color: white;
}


.homo{
  margin-left: 12%;
  text-decoration: none;
  color: white;
}

.rape{
  margin-left: 12%;
  text-decoration: none;
  color: white;
}

.dea{
  margin-left: 12%;
  text-decoration: none;
  color: white;
}


a:link{
    text-decoration: none;
    color: white;
}

