<!DOCTYPE html>
<html>
    <head>
    	<title>Contact Us - Let's Discuss</title>
        <link rel="stylesheet" type="text/css" href="/static/css/contact.css">
    </head>

    <body>
	    <ul>
			<li><a class="active" href="home">Home</a></li>
			<li><a href="topics">Topics</a></li>
			<li><a href="contact">Contact Us</a></li>
	    	<li><a href="login">Log In</a></li>
	    	<li ><a href="logout">Log Out</a></li>
    		<li><a href="signup">Sign Up</a></li>
			<li style="float:right">Let's Discuss</li>
		</ul>

		<h1>Contact Us</h1><br>
		<h3>E-mail: let.us.discuss7@gmail.com<br>
		Phone: 054-259-4936<br>
		Location: Old City, Jerusalem</h3><br><br>
		<h2>*Our Goal is for people to discuss sensitive, philosophical, or personal topics freely, without being judged, attacked or ashamed, and also for people to try and understand other opinions and respect them*</h2>

	</body>
</html>