<!DOCTYPE html>
<html>
    <head>
        <title>Let's Discuss</title>


        <link rel="stylesheet" type="text/css" href="/static/css/style.css">


    </head>

    <body>
    	<h1>WELCOME!</h1>
    	<h3>Welcome to "Let's Discuss", where you have the opportunity to discuss different topics, with all kinds of people.
    	</h3>

	<ul>
		<li><a class="active" href="home">Home</a></li>
		<li><a href="topics">Topics</a></li>
		<li><a href="contact">Contact Us</a></li>
		<li style="float:right">Let's Discuss</li>

	</ul> 

    </body>
</html>