<!DOCTYPE html>
<html>
    <head>
        <title>Log In - Let's Discuss</title>
        <link rel="stylesheet" type="text/css" href="/static/css/login.css">

<div class="nav_bar">
<ul>
	<li><a class="active" href="home">Home</a></li>
	<li><a href="topics">Topics</a></li>
	<li><a href="contact">Contact Us</a></li>
	<li><a href="login">Log In</a></li>
    <li ><a href="logout">Log Out</a></li>
	<li><a href="signup">Sign Up</a></li>
	<li style="float:right">Let's Discuss</li><br><br>
</ul>
</div>

	</head>

	<body>
        <br><br><br><br><br><br><br><br><br>
		<div class="Login">
		<form method="POST">
			<h1>LOGIN</h1>
        	<input type="text" name="name" placeholder="User Name">
        	<br>
            <br>
        	<input type="password" name="password" placeholder="Password">
        	<br>
            <br>
            <br>
        	<input type="submit" value="Login">
            <input type="reset" value="Reset"><br><br>
        </form>
    	</div>

    </body>
    </html>