<!DOCTYPE html>
<html>
    <head>
        <title>Sign In - Let's Discuss</title>
        <link rel="stylesheet" type="text/css" href="/static/css/signup.css">

<div class= "nav_bar">
<ul>
	<li><a class="active" href="home">Home</a></li>
	<li><a href="topics">Topics</a></li>
	<li><a href="contact">Contact Us</a></li>
	<li><a href="login">Log In</a></li>
    <li><a href="logout">Log Out</a></li>
	<li><a href="signup">Sign Up</a></li>
	<li style="float:right">Let's Discuss</li><br><br>
</ul>
</div>

	</head>

	<body>
        <br><br><br><br><br><br><br><br><br>
		<div class="signup">
		<form method="POST">
        	<h1>SIGN UP</h1>
        	<input type="text" name="name" placeholder="User Name"><br>
        	<label for="name">*You do not have to put your real name*</label><br><br>
        	<input type="password" name="password" placeholder="Password" maxlength="8" minlength="3"><br>
            <label for="name">*3-8 letters*</label><br><br>
        	<input type="submit" value="Sign Up">
            <input type="reset" value="Reset"><br><br>
        	<br>
        </form>
    	</div>
    </body>
</html>