<!DOCTYPE html>
<html>

    <head>
    	<title>Topics - Let's Discuss</title>
        <link rel="stylesheet" type="text/css" href="/static/css/topics.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">

<div class=nav_bar>
	    	<li><a class="active" href="home">Home</a></li>
			<li><a href="topics">Topics</a></li>
			<li><a href="contact">Contact Us</a></li>
			<li><a href="login">Log In</a></li>
            <li ><a href="logout">Log Out</a></li>
    		<li><a href="signup">Sign Up</a></li>
			<li style="float:right">Let's Discuss</li>
		 <br><br><br>
</div>
</head>

<body>
        <h1>Topics to discuss</h1><br>
<div class="toptop">
    <h4>- Abortion</h4>
    <div class="abor">
        <a href="#">Is abortion murder?</a><br>
        <a href="#">Should abortion be legal?</a><br>
    </div><br><br>

    <h4>- God</h4>
    <div class="rel">
        <a href="#">Does God exist?</a><br>
        <a href="#">Did God create evil?</a><br>
        <a href="#">Why does God allow bad things to happen? </a><br>
    </div><br><br>


    <h4>- Racism</h4>
    <div class="rac">
        <a href="#">Should people be judged upon the color of their skin?</a><br>
    </div><br><br>


    <h4>- Homosexuality</h4>
    <div class="homo">
        <a href="#">Are people born homosexual?</a><br>
        <a href="#">Is Homosexuality a Mental Illness ?</a><br>
    </div><br><br>

    <h4>- Rape</h4>
    <div class="rape">
        <a href="#">Do you think Rapists ever have a good excuse to rape?</a><br>
        <a href="#">Are the victims always innocent?</a><br>
    </div><br><br>

    <h4>- Death Penalty & torture</h4>
    <div class="dea">
        <a href="#">Should the death penalty be illegal?</a><br>
        <a href="#">Doesn't torture hurt the Human rights?</a><br>
    </div><br><br>


    <h4>- Nationality</h4>
    <div class="pal-isr">
        <a href="#">Would you sacrifice your nationality for peace?</a><br>
        <a href="#">Would you immigrate and get another nationality?</a><br>
    </div><br><br>
</div>

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

    </body>

</html>
    	