<!DOCTYPE html>
<html>

    <head>
    	<title>Topics - Let's Discuss</title>
        <link rel="stylesheet" type="text/css" href="/static/css/topics.css">
<!--         <meta name="viewport" content="width=device-width, initial-scale=1">
 -->
<div class=nav_bar>
	    	<li><a class="active" href="home">Home</a></li>
			<li><a href="topics">Topics</a></li>
			<li><a href="contact">Contact Us</a></li>
			<li><a href="login">Log In</a></li>
            <li ><a href="logout">Log Out</a></li>
    		<li><a href="signup">Sign Up</a></li>
			<li style="float:right">Let's Discuss</li>
		 <br><br><br>
</div>
</head>

<body>
        <h1>Topics to discuss</h1><br>
<div class="toptop">
    <li>Abortion</li><br>
    <div class="abor">
        <a href="abortion">Is abortion murder?Should abortion be legal?</a><br>
    </div><br><br>

    <li>God</li><br>
    <div class="rel">
        <a href="#">Does God exist?</a><br>
        <a href="#">Did God create evil?</a><br>
    </div><br><br>


    <li>Racism</li><br>
    <div class="rac">
        <a href="#">What is Racism?</a><br>
    </div><br><br>


    <li>Homosexuality</li><br>
    <div class="homo">
        <a href="#">Are people born homosexual?</a><br>
        <a href="#">Is Homosexuality a Mental Illness ?</a><br>
    </div><br><br>

    <li>Rape</li><br>
    <div class="rape">
        <a href="#">Are the victims always innocent?</a><br>
    </div><br><br>

    <li>Death Penalty</li><br>
    <div class="dea">
        <a href="#">Should the death penalty be illegal?</a><br>
    </div><br><br>

    </body>

</html>
    	