<!DOCTYPE html>
<html>

    <head>
    	<title>Topics - Let's Discuss</title>
        <link rel="stylesheet" type="text/css" href="/static/css/topics.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>

<div class=nav_bar>
	    			<li><a class="active" href="home">Home</a></li>
			<li><a href="topics">Topics</a></li>
			<li><a href="contact">Contact Us</a></li>
			<li><a href="login">Log In</a></li>
            <li ><a href="logout">Log Out</a></li>
    		<li><a href="signup">Sign Up</a></li>
			<li style="float:right">Let's Discuss</li>
		 <br><br><br>
</div>


        <h1>Topics to discuss</h1>
<div class="toptop">
    <a href="#">Abortion</a><br>
    <div class="abor">
        <a href="#">Is abortion murder?</a><br>
        <a href="#">Should abortion be legal?</a><br>
    </div><br>

    <a href="#">God</a><br>
    <div class="rel">
        <a href="#">Does God exist?</a><br>
        <a href="#">Did God create evil</a><br>
        <a href="#">Why does God allow bad things to happen? </a><br>
    </div><br>


    <a href="#">Racism</a><br>
    <div class="rac">
        <a href="#">Should people be judged upon th color of their skin?</a><br>
        <a href="#">Should anyone be discriminated because of how they look?</a><br>
    </div><br>


    <a href="#">Homosexuality</a><br>
    <div class="homo">
        <a href="#">Are people "born" homosexual?</a><br>
        <a href="#">Is Homosexuality a Mental Illness ?</a><br>
    </div><br>

    <a href="#">Rape</a><br>
    <div class="rape">
        <a href="#">Do you think Rapists ever have a good excse to rape?</a><br>
        <a href="#">Are the victims always innocent?</a><br>
    </div><br>

    <a href="#">Death Penalty & torture</a><br>
    <div class="dea">
        <a href="#">Should the death penalty be illegal?</a><br>
        <a href="#">Does torture always work?</a><br>
    </div><br>


    <a href="#">Palestine-Israel</a><br>
    <div class="pal-isr">
        <a href="#">Did Israel have the right to take other people's homes?</a><br>
        <a href="#">Would you sacrifice your nationality for peace?</a><br>
    </div><br>
</div>
<!--         <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">- Abortion</button><br>
  <div id="myDropdown" class="dropdown-content">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </div><br>


    <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">- Religion</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </div><br>

</div> -->



<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

    </body>

</html>
    	